# Tarea Numero 2

## Punto 1:Colecciones

##### 1.1 Se desea crear dos diccionarios uno con solo la edad de los hombres y uno con solo la edad de la mujeres, sin embargo no se cuenta con las edades, asi que creelas de una forma aleatoria, despues cree un solo diccionario con todas las personas, mire si Carol esta presente y cual es la menor edad (los nombres se presentan  en las siguientes listas)

In [46]:
import random
Hombres = ["Alex","Bob","Dave","Fer",]
Mujeres = ["Carol","Katie","Nataly"]
dicH = {Hombre:random.randint(18,100) for Hombre in Hombres}
dicM = {Mujer:random.randint(18,100) for Mujer  in Mujeres}
dic = {**dicH, **dicM}
print(dic)
print('Carol' in dic)
print("la menor edad es", min(dic.values())," años")

{'Alex': 59, 'Bob': 91, 'Dave': 59, 'Fer': 22, 'Carol': 34, 'Katie': 61, 'Nataly': 92}
True
la menor edad es 22  años

##### 1.2 Se desea saber cual de los primeros cinco planetas es el que tiene mas lunas del sistema solar, ademas de saber cual es el mas pequeño  y cual es la distancia promedio al sol.

In [23]:

def pequeño(planetas,Tamaños):
    for i in range(len(planetas)):
        p=min(Tamaños)
        if Tamaños[i]==g:
            n=planetas[i]
    return print("El planeta mas grande es", n," con una longitud de",p)
def prom(x):
    mean=sum(x)/len(x)
    return print("El promedio es", mean)
def maxlu(planetas,Lunas):
    for i in range(len(planetas)):
        g=max(Lunas)
        if Lunas[i]==g:
            p=planetas[i]
    return print("El planeta con mas lunas es", p," con un total  de",g)
Nombres=('MERCURIO','VENUS', 'TIERRA','MARTE','JUPITER');
Tamaños=(4.880, 12.104 ,12.756 ,6.794, 142.984)
Distancia=(57910000, 108200000, 149600000, 227940000, 778330000)
Lunas=(0,0,1,2,16)
grande(Nombres,Tamaños)
prom(Distancia)
maxlu(Nombres,Lunas)

El planeta mas grande es JUPITER  con una longitud de 142.984
El promedio es 264396000.0
El planeta con mas lunas es JUPITER  con un total  de 16

## Punto 2

Los datos se pueden obtener [aqui](https://github.com/JosephPalV/Mineria/blob/main/cuentas.xlsx)

In [143]:
import pandas as pd

data= pd.read_excel("https://github.com/JosephPalV/Mineria/blob/main/cuentas.xlsx?raw=true",index_col=0)
print(data)

                               nombre    saldo   ult.transacción
 número de cuenta
1116226824              Karol Velandia   588451       2022-02-26
6541060177                Daniel Gomez  2973588       2021-09-26
2951228010           Robinson Casanare  2312704       2021-12-08
2691327819         Esperanza Rodriguez  1575597       2022-06-10
7946787912                  Ivan Duque  2090047       2021-10-03
3929118872                 Rosa Flores  1243774       2022-03-11
7121107495                  Ana Torres   897952       2021-09-29
5913701623              Karen Espinosa  3987405       2021-06-01
3694282766               Andrea Botero  4502084       2021-10-31
6804977081             Diego Estupiñan  1848654       2021-05-27

In [125]:
print(data.loc[6804977081])

 nombre                 Diego Estupiñan
 saldo                          1848654
 ult.transacción    2021-05-27 00:00:00
Name: 6804977081, dtype: object

In [139]:
def cuenta():

    num = input(" Digite el número de cuenta: ")
    
    try:
       return  print("Numero de cuenta:", num,"\n información del usuario\n",data.loc[int(num)])
    except:
       return 'No hay registros'

In [140]:
cuenta()

 Digite el número de cuenta:  6804977081

Numero de cuenta: 6804977081
 información del usuario
  nombre                 Diego Estupiñan
 saldo                          1848654
 ult.transacción    2021-05-27 00:00:00
Name: 6804977081, dtype: object